.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

.modal-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.portfolio-buy-modal {
  height: 200px;
  width: 500px;
  background-color: white;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}

.portfolio-buy-modal h3 {
  display: flex;
  justify-content: center;
  margin-left: 25px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
